mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
  }
  
  .maintoolbar{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
mat-sidenav-container {
    height:100%;
}

.white-toolbar {
  background-color: white !important;
  color: #333;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {padding: 1rem;}

mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
  }
  .menu-label {
    font-size: 14px; /* o el tamaño que prefieras */
  }

  
  .white-toolbar {
  background-color: white;
  color: #333;
  padding: 0 16px;
}

.maintoolbar {
  display: flex;
  width: 100%;
  align-items: center;
}

.brand-name {
  margin-left: 16px;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.welcome-message {
  margin: 0 16px 0 0;
  font-size: 1rem;
  font-weight: normal;
}

.main-toolbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.spacer {
  flex: 1 1 auto;
}
.user-menu-button {
  margin-left: auto; /* Esto empuja el botón a la derecha */
}
