<div class="container">
  <h2>Pedidos en Tienda</h2>
  <button class="carrito-btn" (click)="mostrarModal = true">
   Carrito de compras ({{ obtenerCantidadTotal() }})
  </button>
  <input
    type="text"
    placeholder="Buscar productos..."
    class="search-input"
    [(ngModel)]="textoBusqueda"
  />

  <div class="filter-buttons">
    <button
      *ngFor="let cat of ['Todos', 'Tortas', 'Pasteles', 'Galletas', 'Cupcakes']"
      (click)="cambiarCategoria(cat)"
      [class.active]="categoriaSeleccionada === cat"
    >
      {{ cat }}
    </button>
  </div>

  <div class="product-grid">
    <div class="product-card" *ngFor="let producto of productosFiltrados">
      <img [src]="producto.imagen" alt="Producto" />
      <h4>{{ producto.nombre }}</h4>
      <p>{{ producto.descripcion }}</p>
      <div class="price">{{ producto.precio | currency:'S/. ' }}</div>
      <button class="add-btn" (click)="agregarAlCarrito(producto)">Agregar</button>
    </div>
  </div>

  <div class="modal" [class.show]="mostrarModal">
    <div class="modal-content">
      <span class="close" (click)="mostrarModal = false">&times;</span>
      <h3>Carrito de Compras</h3>
      <div *ngIf="carrito.length > 0; else carritoVacio" class="carrito-items">
        <div class="carrito-item" *ngFor="let item of carrito">
          <img [src]="item.producto.imagen" alt="Producto" />
          <div class="info">
            <h4>{{ item.producto.nombre }}</h4>
            <p>Cantidad: {{ item.cantidad }}</p>
            <p>Precio: {{ item.producto.precio | currency:'S/. ' }}</p>
            <p><strong>Total: {{ item.producto.precio * item.cantidad | currency:'S/. ' }}</strong></p>
          </div>
          <button class="remove-btn" (click)="quitarDelCarrito(item)">X</button>
        </div>
        <p class="carrito-total"><strong>Total: {{ totalCarrito() | currency:'S/. ' }}</strong></p>
        <div class="carrito-actions">
          <button (click)="vaciarCarrito()">Vaciar Carrito</button>
          <button (click)="finalizarCompra()">Finalizar Compra</button>
        </div>
      </div>
      <ng-template #carritoVacio>
        <p>El carrito está vacío.</p>
      </ng-template>
    </div>
    
  </div>
</div>
