<div class="inventario-container">
  <div class="header-container">
    <h1>Inventario</h1>
    <button class="add-button" (click)="abrirModalCreacion()">
      <span>+</span> Agregar Producto
    </button>
  </div>

  
<div class="header-container categoria-header">
  <h2>Categorías</h2>
  <button class="add-button" (click)="abrirModalCategoria()">
    <span>+</span> Agregar Categoria
  </button>
</div>

<!-- Modal de Categorías -->
<div class="modal-overlay" *ngIf="mostrarModalCategoria">
  <div class="modal-container">
    <div class="modal-header">
      <h3>Gestión de Categorías</h3>
      <button class="close-btn" (click)="cerrarModalCategoria()">&times;</button>
    </div>

    <div class="modal-body">
      <!-- Formulario para agregar o editar categoría -->
      <div class="form-group">
        <label>{{ categoriaEnEdicion !== null ? 'Editar Categoría' : 'Nueva Categoría' }}</label>
        <input type="text" [(ngModel)]="nuevaCategoria" placeholder="" class="categoria-input" /> <br> <br>
        <button class="save-btn"
                *ngIf="categoriaEnEdicion === null"
                (click)="agregarNuevaCategoria()"
                [disabled]="!nuevaCategoria">
          Guardar
        </button>
        <button class="save-btn"
                *ngIf="categoriaEnEdicion !== null"
                (click)="actualizarCategoria()"
                [disabled]="!nuevaCategoria">
          Actualizar
        </button>
        <button class="cancel-btn"
                *ngIf="categoriaEnEdicion !== null"
                (click)="cancelarEdicion()">
          Cancelar
        </button>
      </div>

      <!-- Lista de Categorías -->
      <div class="categoria-lista-container">
        <h4>Listado de Categorías</h4>
        <ul class="categoria-lista">
          <li *ngFor="let cat of categorias; let i = index" class="categoria-item">
            {{ cat.name }}
            <div>
              <button class="edit-button" (click)="editarCategoria(i)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="delete-button" (click)="eliminarCategoria(cat)">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



  
  
  <div class="search-container">
    <input type="text" 
           placeholder="Buscar productos..." 
           [(ngModel)]="searchTerm"
           class="search-input">
  </div>
  
  <div class="header-section">
    <h2>Productos</h2>
    <p class="subtitle">Gestiona el inventario de productos de la pasteleria</p>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <div class="table-container">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Stock</th>
          <th>Precio</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of filteredProducts">
          <td>{{ producto.id }}</td>
          <td><strong>{{ producto.name }}</strong></td>
          <td>{{ producto.category.name }}</td>
          <td>{{ producto.stock }} {{ producto.unidadMedida }}</td>
          <td>{{ producto.price | currency:'PEN ':'symbol':'1.2-2' }}</td>
          <td>
            <span class="status" [ngClass]="{
              'activo': producto.active,
              'inactivo': !producto.active
            }">
              {{ producto.active ? 'Activo' : 'Inactivo' }}
            </span>
            
          </td>
          <td class="actions">
            <button (click)="abrirModalEdicion(producto)" class="action-btn edit" title="Editar">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="eliminarProducto(producto.id)" class="action-btn delete" title="Eliminar">
              <i class="fas fa-trash"></i>
            </button>
         <button (click)="toggleEstado(producto)" class="action-btn status" title="Cambiar Estado">
           <i class="fas" [ngClass]="{
               'fa-toggle-on': producto.active,
               'fa-toggle-off': !producto.active
              }"></i>
         </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal para agregar/editar producto -->
  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-container" [class.editing]="isEditing">
      <div class="modal-header">
        <h3>{{ isEditing ? 'Editar Producto' : 'Agregar Nuevo Producto' }}</h3>
        <button class="close-btn" (click)="cerrarModal()">&times;</button>
      </div>
      <div class="modal-body">
        <p>Complete los detalles del producto</p>
        
        <div class="form-group">
          <label>Nombre del Producto</label>
          <input type="text" [(ngModel)]="productoActual.name" placeholder="">
        </div>
        
        <div class="form-group">
          <label>Categoría</label>
          <select [(ngModel)]="productoActual.categoryId">
            <option value="" disabled selected>Seleccionar categoría</option>
            <option *ngFor="let cat of categorias" [value]="cat.id">{{cat.name}}</option>
          </select>
        </div>

      
        
        <div class="form-group">
          <label>Stock Inicial</label>
          <div class="stock-input-container">
            <input type="number" [(ngModel)]="productoActual.stock" placeholder="" class="stock-input">
            
          </div>
          <small class="example-text"></small>
        </div>
        
        <div class="form-group">
          <label>Precio</label>
          <input type="number" step="0.01" [(ngModel)]="productoActual.price" placeholder="">
        </div>
        
        <div class="form-group">
          <label>Estado</label>
          <select [(ngModel)]="productoActual.active">
            <option value=true>Activo</option>
            <option value=false>Inactivo</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button class="cancel-btn" (click)="cerrarModal()">Cancelar</button>
        <button class="save-btn" (click)="guardarProducto()">
          {{ isEditing ? 'Actualizar' : 'Guardar' }}
        </button>
      </div>
    </div>
  </div>
</div>