<div class="dashboard-wrapper">
  <h1 class="dashboard-title">Dashboard de Ventas</h1>
<div class="actions">
  <button (click)="generateDailySalesPDF()">📄 Descargar PDF Diario</button>
</div>

  <div class="card-grid">
    <!-- Gráfico de barras -->
    <div class="card">
      <h3>Ventas Diarias</h3>
      <canvas baseChart [data]="salesChartData" [options]="salesChartOptions" chartType="bar"></canvas>
    </div>

    <!-- Gráfico de pie -->
    <div class="card">
      <h3>Top Productos</h3>
      <canvas baseChart [data]="productPieData" [options]="productPieOptions" chartType="pie"></canvas>
    </div>

    <!-- Gráfico de línea -->
    <div class="card">
      <h3>Comparativa Semanal</h3>
      <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" chartType="line"></canvas>
    </div>

    <!-- Tabla resumen -->
    <div class="card table-card">
      <h3>Resumen de Productos Vendidos</h3>
      <table>
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Subtotal (S/)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of resumenProductos">
            <td>{{ prod.productName }}</td>
            <td>{{ prod.quantity }}</td>
            <td>{{ prod.subtotal | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
