@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
  overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('https://upload.wikimedia.org/wikipedia/commons/3/3c/Panader%C3%ADa_alemana.jpg') center/cover no-repeat;
    filter: blur(0px) brightness(0.7);
    z-index: -1;
}

.container {
    width: 400px;
    background-color: rgba(189, 189, 189, 0.87);
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    padding: 40px 30px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


h1 {
  font-size: 24px;
    font-weight: 600;
    color: #243B55;
    margin-bottom: 20px;
    text-align: center;
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  margin-bottom: 20px;
}

.social {
  border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.social:hover {
    background: #243B55;
    color: #fff;
}

span {
  display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #525252;
  font-size: 14px;
}

.infield {
  width: 100%;
    margin-bottom: 15px;
}

input {
  width: 100%;
    padding: 12px 15px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
}

a.forgot {
    display: block;
    text-align: right;
    font-size: 13px;
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;
}

a.forgot:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #243B55;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #141E30;
  }